/* Adicionando CSS */
/* Com seletor 'TAG' */
h1{
    color: purple;
    font-size: 15px;
}
p{
    font-weight: bold;
}
/* Adicionando CSS */
/* com seletor id */
/* id NÃO pode ser compartilhado */
/* pra usar id tem que usar # */
#paragrafo2{
    color: forestgreen;
    font-weight: normal ;
}
/* Adicionando  CSS */
/*  com seletor ' class' */
.p-texto{
    color: darkturquoise;
    font-size: normal;
}
/* Oque nao tem class muda */