h1{
    color: darkorchid;
    font-size: 60px;
    
}
<!--isso é para dividir as letras em cores --!>
span{
 color:
}
h2{
    color: hotpink;
    font-size: 100px;
}
 p{
    color: darkseagreen;
    font-size: 20px;
 }

 